# Tuning data files
*.pgn
*positions.epd

# Julia Manifest, Project suffices
Manifest.toml

# handfull of scripts to compare smaller versions
elotestscripts/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Miscellaneous and build output
.vscode
build
